.fa-star {
    margin: 0.5em;
    font-size: 24px;
}

.selection {
    display: inline-block;
    margin: 0.5em;
    text-align: center;
    background-color: lightgray;
    width: 24px;
    border-radius: 50%;
    cursor: pointer;
}